body {padding:10px}

.tgt {
    width            : 100px;
    height           : 100px;
    background-color : #666;
    color            : white;
    padding          : 10px 12px;
    cursor           : move;
    position         : relative; /* important (all position that's not `static`) */
}
